server:
  servlet:
    context-path: /eladmin
#  port: 5188
#配置数据源
spring:
  datasource:
    druid:
      type: com.alibaba.druid.pool.DruidDataSource
#      driverClassName: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
      driverClassName: com.mysql.cj.jdbc.Driver
#      url: jdbc:log4jdbc:mysql://192.168.1.101:3306/eladmin?serverTimezone=Asia/Shanghai&characterEncoding=utf8&useSSL=false
      url: jdbc:mysql://39.100.224.233:3306/eladmin?serverTimezone=Asia/Shanghai&characterEncoding=utf8
#      url: jdbc:mysql://172.17.0.2:3306/eladmin?serverTimezone=Asia/Shanghai&characterEncoding=utf8
      username: eladmin
      password: eladmin

      # 初始化配置
      initial-size: 3
      # 最小连接数
      min-idle: 3
      # 最大连接数
      max-active: 15
      # 获取连接超时时间
      max-wait: 5000
      # 连接有效性检测时间
      time-between-eviction-runs-millis: 90000
      # 最大空闲时间
      min-evictable-idle-time-millis: 1800000
      test-while-idle: true
      test-on-borrow: true
      test-on-return: true

      validation-query: select 1
      # 配置监控统计拦截的filters
      filters: stat
      stat-view-servlet:
        url-pattern: /druid/*
        reset-enable: false

      web-stat-filter:
        url-pattern: /*
        exclusions: "*.js,*.gif,*.jpg,*.bmp,*.png,*.css,*.ico,/druid/*"

  #配置 Jpa
  jpa:
    hibernate:
      # 生产环境设置成 none，避免程序运行时自动更新数据库结构
      ddl-auto: update
    show-sql: true

  redis:
    host: 39.100.224.233
    port: 6379
    timeout: 5000
    jedis:
      pool:
        min-idle: 3

#    lettuce:
#      pool:
#        min-idle: 3
#      shutdown-timeout: 100000


#打印sql参数
logging:
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql:
              BasicBinder: trace

#jwt
jwt:
  header: Authorization
  secret: mySecret
  # token 过期时间 10个小时  10*60*60*1000 这种模式忘记怎么写了
  expiration: 36000000
  auth:
    # 授权路径
    path: /login
    # 获取用户信息
    account: /info

#是否允许生成代码，生产环境设置为false
generator:
  enabled: true

#是否开启 swagger-ui
swagger:
  enabled: true

#七牛云
qiniu:
  # 文件大小 /M
  max-size: 15

#邮箱验证码有效时间/分钟
code:
  expiration: 5

#登录图形验证码有效时间/分钟
loginCode:
  expiration: 2

#垃圾邮件识别码配置，支持数组，如：554 DT:SPM,554 DT:SPM   网易的是554 DT:SPM
email:
  spam: 554 DT:SPM
